<div id="project-support-hours">
<%= content_tag(:h3, l(:project_support_hours_text_section_header)) %>
<p class="support-hours">
  <span class="icon icon-time">
    <%= h hours_label %>
  </span>
</p>
<% if start_date.present? %>
<p class="start-date">
  <%= l(:project_support_hours_start_date_field_text, :date => format_date(start_date)) %>
</p>
<% end %>
<% if end_date.present? %>
<p class="end-date">
  <%= l(:project_support_hours_end_date_field_text, :date => format_date(end_date)) %>
</p>
<% end %>
</div>
